extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Shelby 'EVA' Goudy 
        p.lead.text-light
          | Full Stack JavaScript Developer/ Software Development Master's Student     
          br
          | Former Aviator / Officer.
        .portfolio-bio
          p
            | ---  Seeking REMOTE Opportunities  ---
            br
            br
            | Welcome, and thank you for visiting!
            br
            br
            | I've spent the past decade as a Marine Corps Aviator and Officer. I'm executing a career change to Software Engineer and cannot wait to see where this journey takes me. Software provides the opportunity to work remotely so that I can remain flexible for my significant others' career as a college football coach. 
            br
            br
          ul.border
            h4 Timeline Since Separation:
            li Sept '20 - Present: Business Advisor (Member, LLC) & E-commerce Site Builder and Manager for Small Business.
            li Nov '20 - Apr '22 (est.): Master's of Science in Software Development, Boston U.  
            li Apr '20 - Sept '20: Full-Stack JavaScript Techdegree. 
            li Jan '19 - Apr '20: MBA (Focus in Entrepreneurship) full-time student.
          br
          p.portfolio-bio
            | Everyday I also volunteer at a local horse stable (it's very therapeutic). I also enjoy working out, the outdoors, ping-pong, and Jeopardy.
            br
            br
            | Some of my Key Strengths include: (1) Extensive Leadership and Management, (2) Strong Work-Ethic, (3) Ability to work as an Individual or on a Team, (4) Integrity, (5) Constantly seeking Self-Improvement, (6) Life-long Learner.
            br
            br
            | My goal is a Career in Tech where I can continue to serve and give back to our nation and it's people.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Node.js
          li JavaScript
          li OOP (Object-Oriented Programming)
          li API / REST API
          li Express
          li Pug
          li HTML 
          li CSS
          li React
          li Git & GitHub
          li Python
          li MySQL / SQLite
          li Wordpress
        
        h6 Contact Info
        ul
          li (443) 223-6514
          li shelbygoudy@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/shelby-goudy' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/sgoudy?tab=repositories' target="_blank") GitHub
        a.button.expanded(href='https://instagram.com/shelbygoudy' target='_blank') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  