extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Shelby R. Goudy 
        p Callsign 'EVA'
        p.lead.text-light
          | Full Stack JavaScript Developer/     
          br
          | Former 'Picker-Upper' & 'Dropper-Offer' of GOOD Guys who did BAD Things.
        .portfolio-bio
          p
            | Spent the past 15 years doing gnarly things for the U.S. Government and am looking for a bit of a reprieve. Though coding is gnarly in it's own right, it provides me the opportunity to spend more time at home which is the ultimate goal. 
            br
            br
            | I have a Bachelor's in Engineering (Civil) and an M.B.A. with a Focus in Entrepreneurship. In fact, my Capstone (aka. Thesis) is what kick-started this coding journey of mine, and I could not be more thrilled.
            br
            br
            | Some of my Key Strengths of include: leadership and management, work-ethic, ability to work individually or in teams, determination, and perpetual self-improvement.
            br
            br
            | My goal is to start a new career in tech, and possibly find like-minded individuals to help me bring my Capstone to life! Find more information via my LinkedIn on the right.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Node.js
          li OOP (Object-Oriented Programming)
          li APIs
          li Express
          li Pug
          li HTML
          li CSS
          li Git & GitHub
          li Peer Review
        
        h6 Contact Info
        ul
          li (443) 223-6514
          li shelbygoudy@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/shelby-goudy' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/sgoudy?tab=repositories' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/ShelbyGoudy' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  