extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Shelby R. Goudy 
        p Callsign 'EVA'
        p.lead.text-light
          | Full Stack JavaScript Developer/     
          br
          | Former 'Picker-Upper' & 'Dropper-Offer' of GOOD Guys who did BAD Things.
        .portfolio-bio
          p
            | ---  Seeking REMOTE Opportunities  ---
            br
            br
            | Hey, thanks for checking out my page! Here's a little about me
            br
            br
            | I've spent the past 15 years doing gnarly things for the U.S. Government and I am looking for something a little less disruptive. Though gnarly in it's own right, coding provides me the opportunity to work remotely so that I can remain flexible for my significant others' career (which requires we move, A LOT). 
            br
            br
            | In January 2021, I will be starting my Master's of Science in Software Development from Boston U.!
            br
            br
            | I have a Bachelor's in Engineering (Civil) and an M.B.A. with a Focus in Entrepreneurship. In fact, my Capstone (aka. Thesis) is what kick-started this coding journey of mine, and I could not be more thrilled.
            br
            br
            | Some of my Key Strengths include: (1) Extensive Leadership and Management experience, (2) Strong Work-Ethic, (3) Ability to work as an Individual or on a Team, (4) Determination, (5) Constantly seeking Self-Improvement, (6) Life-long Learner.
            br
            br
            | My goal is to start a new career in tech, and find like-minded individuals to help bring my Capstone to life! Find more information via my LinkedIn on the right.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Node.js
          li JavaScript
          li OOP (Object-Oriented Programming)
          li API / REST API
          li Express
          li Pug
          li HTML & CSS
          li React
          li Git & GitHub
          li Peer Review
        
        h6 Contact Info
        ul
          li (443) 223-6514
          li shelbygoudy@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/shelby-goudy' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/sgoudy?tab=repositories' target="_blank") GitHub
        a.button.expanded(href='https://instagram.com/shelbygoudy' target='_blank') Instagram
        a.button.expanded(href='https://twitter.com/ShelbyGoudy' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  